node_modules
npm-debug.log
.env
.env.local
.env.development
.env.test
.env.production
.git
.gitignore
README.md
readme.md
# Temporalmente excluir package-lock.json para evitar problemas con ARM64
package-lock.json
.vscode
dist
*.log
